.button {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13;
    -fx-font-familty: "Verdana";
    -fx-background-color: #6BCAE2;
}

.label {
    -fx-font-size: 13;
    -fx-text-fill: #FFFFFF;
    -fx-font-familty: "Verdana"; 
}

#firstTitelLabel {
    -fx-font-size: 28;
}

#secondTitelLabel {
    -fx-padding: 10; 
    -fx-background-color: #0a9ec2;
    -fx-font-size: 35;
}

#descriptionLabel {
    -fx-font-size: 18;
}

#createStudentButton, #editStudentButton, #updateRegistration, #createCourseButton {
    -fx-background-color: #0a9ec2;
}

.text-area {
    -fx-background-color: #0a9ec2;
    -fx-font-size: 11;
    -fx-text-fill: #FFFFFF;
}
.text-area .content {
    -fx-background-color: #0a9ec2;
}

.combo-box .arrow{
    -fx-background-color:#2478E9;
}
.combo-box .arrow-button{
    -fx-background-color:white;
    -fx-border-style:none;
}
.combo-box .arrow-button{
    -fx-background-color:white;
}
.combo-box .list-cell{
    -fx-background-color:white;
}

.table-view{
    -fx-background-color: transparent;
 }
 
 .table-view .column-header-background{
     -fx-background-color: #2478E9;
 }

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #0a9ec2;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #0a9ec2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #2478E9;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}